.welcome1 {
    color: purple;
    font-size: large;
    text-align: center;
}

.welcome2 {
    color: red;
    font-size: medium;
    text-align: center;
}

.ptag {
    color: green;
    font-size: medium;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    border-collapse: collapse;
}

td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
background-color: #dddddd;
}